PORT=3000
TZ=America/Argentina/Buenos_Aires
NODE_ENV=development

SCRAPER_URL=https://servicios.iafas.gov.ar/iafasextractos/
SCRAPER_TIMEOUT_MS=12000
SCRAPER_RETRIES=3
RATE_LIMIT_PER_MINUTE=100
CACHE_TTL_SECONDS=900

ENABLE_SCHEDULER=false
SCHEDULER_PATTERN=*/2 * * * *
ENABLE_WEBSOCKET=true

CORS_ORIGIN=*
DASHBOARD_ORIGIN=*
JWT_SECRET=cambia_esta_clave_larga
ADMIN_USERNAME=admin
ADMIN_PASSWORD=admin123
ADMIN_PASSWORD_HASH=
CRON_SECRET=
